<h3>Finale 2024</h3>

<h4 class="mb8">Plaats en datum</h4>
<p>
  <strong>VUB Main Campus Etterbeek, Aula Q</strong><br>
  <strong>Pleinlaan 2, 1050 Brussel</strong><br>
  <strong>Zaterdag 23 maart 2024 om 13.30 uur.</strong><br>
  <%= ext_link_to "Plan met ingang 13, auditorium Q en de parkeerplaatsen (letters P)",  "https://www.vub.be/nl/over-de-vub/faculteiten-instituten-en-campussen/onze-campussen/vub-main-campus-brussel/campusplan"%><br>
  De gemakkelijkste parkeerplaats is op de begane grond onder gebouw C (ingang tussen gebouwen B en C). Deelnemers die op de campus willen parkeren, <strong style="color:red">MOETEN</strong> hun nummerplaat registreren. De link wordt per e-mail verstrekt.<br>
</p>

<% unless config.final_is_over %>
<h4 class="mb8">Praktisch</h4>
<p>
  Neem een pen, potlood, gum en niets anders mee.<br>
  De tassen en telefoons worden tijdens de test op het podium geplaatst.<br>
  <strong style="color:red">LET OP !</strong> De proef begint om <strong style="color:red">13u30</strong> en duurt 2 uur</strong>.<br>
  Finalisten worden ter plaatse verwacht tegen 13u20.<br>
  De resultaten worden enkele weken nadien bekendgemaakt.
</p>

<h4 class="mb8">Types van vragen</h4>
<p>De finale is een proef op papier. Je vindt hieronder <%= link_to "enkele voorbeeldvragen", "#sample-questions-final" %>
en de <%= link_to "vragen van de vorige finales", "#questions-solutions" %>.</p>

<% end %>

<% if has_current_year_solutions %><h4>Vragen en oplossingen 2023</h4><%= link_to "#{t("task_description")}#{t("solutions")}", "#questions-solutions", class:"btn btn-lg btn-filled" %><% end %>
<% if config.show_final_results %><%= link_to t("Results"), "final_results", class:"btn btn-lg btn-filled" %><% end %>