<h3>Finale 2024</h3>

<h4 class="mb8">Lieu et date</h4>
<p>
  La finale a eu lieu le <strong>samedi 23 mars 2024</strong> à Bruxelles.<br>
  <!--<strong>VUB Main Campus Etterbeek, Aula Q</strong><br>
  <strong>Pleinlaan 2, 1050 Bruxelles</strong><br>
  <%= ext_link_to "Carte avec indication de l'entrée 13, auditoire Q et entrée du parking (le P entre les bâtiments Q et E)", "https://www.vub.be/en/about-vub/faculties-institutes-and-campuses/our-campuses/vub-main-campus-brussels/campus-map"%><br>
  <!-- <em>Les participants qui souhaitent profiter de la possibilité de se garer sur le campus doivent enregistrer leur plaque d'immatriculation. Le lien sera fourni par e-mail.</em><br>-->
</p>

<% unless config.final_is_over %>
<h4 class="mb8">Aspects pratiques</h4>
<p>
  Vous ne devez prendre que de quoi écrire.<br>
  L'épreuve commencera dure 2 heures.<br>
  <!--<strong style="color:red">ATTENTION !</strong> L'épreuve commencera à <strong style="color:red">13h30</strong> et dure 2 heures</strong>.<br>
  Les finalistes sont attendus sur place à <strong  style="color:red">13h15</strong>.<br>
  Les résultats seront annoncés quelques semaines plus tard.-->
</p>

<h4 class="mb8">Types de questions</h4>
<p>La finale se déroulera sur papier, comme pour les éditions précédentes. Vous retrouverez ci-dessous <%= link_to "quelques exemples de questions", "#sample-questions-final" %>
 et les <%= link_to "questions des finales précédentes", "#questions-solutions" %>.</p>

<% end %>

<% if has_current_year_solutions %><h4>Questions et solutions 2023</h4><%= link_to "#{t("task_description")}#{t("solutions")}", "#questions-solutions", class:"btn btn-lg btn-filled" %><% end %>
<% if config.show_final_results %><%= link_to t("Results"), "final_results", class:"btn btn-lg btn-filled" %><% end %>
