<h3>Finale 2023</h3>

<h4 class="mb8">Plaats en datum</h4>
<p>
  De finale vond plaats op <strong>zaterdag 18 maart 2023</strong> in Brussel.<br>
  <strong>VUB Main Campus Etterbeek, Aula Q</strong><br>
  <strong>Pleinlaan 2, 1050 Bruxelles</strong><br>
  <%= ext_link_to "Plattegrond met aanduiding van ingang 13, auditorium Q en ingang parkeergarage (de P tussen de gebouwen Q en E)",  "https://www.vub.be/nl/over-de-vub/faculteiten-instituten-en-campussen/onze-campussen/vub-main-campus-brussel/campusplan"%><br>
  <!-- <em>Deelnemers die gebruik willen maken van de campusparking moeten hun nummerplaat registreren. De link wordt per e-mail verstrekt.</em><br>-->
</p>

<% unless config.final_is_over %>
<h4 class="mb8">Praktisch</h4>
<p>
  Je moet enkel iets om te schrijven meenemen.<br>
  <strong style="color:red">LET OP !</strong> De proef <strong>begint om <strong style="color:red">13u30</strong> en duurt 2 uur</strong>.<br>
  Finalisten worden ter plaatse verwacht tegen <strong style="color:red">13u15</strong>.<br>
  De resultaten worden enkele weken nadien bekendgemaakt.
</p>

<h4 class="mb8">Types van vragen</h4>
<p>De finale is een proef op papier, zoals de voorgaande jaren. Je vindt hieronder <%= link_to "enkele voorbeeldvragen", "#sample-questions-final" %>
en de <%= link_to "vragen van de vorige finales", "#questions-solutions" %>.</p>

<% end %>

<% if has_current_year_solutions %><h4>Vragen en oplossingen 2023</h4><%= link_to "#{t("task_description")}#{t("solutions")}", "#questions-solutions", class:"btn btn-lg btn-filled" %><% end %>
<% if config.show_final_results %><%= link_to t("Results"), "final_results", class:"btn btn-lg btn-filled" %><% end %>
