
<a name="qualif-centers"></a>
<section class="image-edge">
  <div class="col-md-6 image" id="map" style="height:700px;"></div>
  <div class="col-md-6 content">
    <h3><%= t(:localcenters_title) % data.qualification_centers.length %></h3>
    <p><%= link_to t(:center_in_your_school), "faq" %></p>
    <% for i in 0..data.qualification_centers.length/2 %>
    <div class="row">
      <%
      for j in 0..1
        c = data.qualification_centers[i*2+j]
        if c %>
        <div class="col-sm-6" style="padding:0 6px 0 12px;">
          <h6 class="uppercase mb0"><%= c.city %></h6>
          <p>
            <%= c.place %><br>
            <% if c.address %><%= c.address.gsub(/(\n)/, "<br>") %>
            <% else %>  <%= t(:more_info_later).capitalize %>
            <% end %>
            <% if c.route_link %><%= ext_link_to t(:route_instruct), c.route_link %><% end %>
          </p>
        </div>
        <%
      end
      end %>
    </div>
    <% end %>
    <% data.qualification_centers.each_with_index do |c,i| %>
    <% end %>
  </div>
</div>
</section>

<script src="/js/maplibre-gl.js"></script>
<script type="text/javascript">
  var map = new maplibregl.Map({
      container: 'map', // container id
      style: '/js/mapstyle.json', // 'https://demotiles.maplibre.org/style.json', // style URL /js/mapstyle.json
      center: [4.4025018, 50.5644843], // [lng, lat]
      zoom: 7,
      attributionControl: false,
  }).addControl(new maplibregl.AttributionControl({ compact: true }));
  <% data.qualification_centers.select{|x|x.pos}.each do |c| %>
  new maplibregl.Marker().setLngLat([ <%= c.pos.lng %> , <%= c.pos.lat %>]).addTo(map);
  <% end %>
</script>
