---
title: beOI 2024
result_file: results_2024_final
trianglify_colors: '"RdBu"'
---
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<section class="page-title page-title-4 image-bg">
  <%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:previous_olympiad_edition_tile)%2024 %></h3>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="altern">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

		<h2 class="mt64">Nationale Olympiades</h2>
        <p class="lead">
          Nieuw deelnamerecord voor de Belgische Informaticaolympiade (beOI)!<br>
          <b>3209 deelnemers</b> van <b>109 scholen</b> namen deel aan de <%= link_to "Voorronde", "beoi24.html#beoi_r1" %> die begin februari 2024 werden georganiseerd.<br>
          <b>201 finalisten</b> zijn op zaterdag 23 maart 2024 afgezakt naar de VUB voor de <%= link_to "finale op papier", "beoi24.html#beoi_final" %>.<br>
          De 10 eersten van elke categorie hebben op de proclamatie prijzen, een diploma en voor het eerst ook medailles ontvangen.
        </p>
         
        <p class="lead"> 
          De Belgische Programmeerwedstrijd (<%= link_to "beCP", "beoi24.html#becp" %>) speelde zich af op zaterdag 25 mei 2024 op de HE2B-ESI in Brussel.<br>
          De resultaten werden dezelfde dag nog geproclameerd, na de proclamatie van de beOI. 
		  </p>

		<h2 class="mt64">Internationale wedstrijden</h2>
		  <p class="lead">
          Noé Zech behaalde een bronzen medaille op de <%= link_to t(:weoi_full).capitalize, "beoi24.html#weoi" %> in Londen.
		  </p>
        
		  <p class="lead">
          Joaquim Schaeverbeke ontving een bronzen medaille en Thomas De Bruyn een eervolle vermelding op de <%= link_to t(:ejoi_full).capitalize, "beoi24.html#ejoi" %> in Moldavië.
		  </p>
        
		  <p class="lead">
		    We namen deel aan de <%= link_to t(:ioi_full).capitalize, "beoi24.html#ioi" %> in Egypte.
		  </p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern" id="beoi_r1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2><%= t(:qualif_round).capitalize%> beOI 2024</h2>
         <p>
            De eerste ronde van de Belgische Informatica-olympiade (beOI) vond plaats in de deelnemende scholen tijdens de week van 5 tot 9 februari 2024 en in de regionale centra op woensdag 7 februari.<br>
            Zoals gewoonlijk duurde de proef 75 minuten en was ze toegankelijk voor iedereen.<br>
            De deelnemers moesten logische vraagstukken en programmeervraagstukken oplossen door grafische blokken te verslepen met de muis.<br>
            Nieuw record: 3219 deelnemers namen eraan deel, de meesten vanuit een van de 109 deelnemende scholen.
         </p>

		  <h3>Quelques chiffres</h3>
         <p><%= t(:qualif_result_stat_thresholds) % [data.results_2024_qualif.stats.threshold_cadet, count_finalists(data.results_2024_qualif.charts.cadet, data.results_2024_qualif.stats.threshold_cadet) , data.results_2024_qualif.stats.threshold_junior, count_finalists(data.results_2024_qualif.charts.junior, data.results_2024_qualif.stats.threshold_junior), data.results_2024_qualif.stats.threshold_senior, count_finalists(data.results_2024_qualif.charts.senior, data.results_2024_qualif.stats.threshold_senior), data.results_2024_qualif.stats.max_possible_score] %></p>
      </div>
    </div>

	<div class="row">
      <div id="chart-cat" class="col-md-4" style="height: 200px;"></div>
      <div id="chart-lang" class="col-md-4" style="height: 200px;"></div>
      <div id="chart-gender" class="col-md-4" style="height: 200px;"></div>
    </div>
  </div><!--end of container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%=t(:qualif_round)%> <%=t(:Cadet)%> 2024</h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_topx)%data.results_2024_qualif.contestants.cadet.size %> - <%= t(:qualif_on_total)%data.results_2024_qualif.stats.count_cadet %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped-cadet">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2024_qualif.contestants.cadet.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%=t(:qualif_round)%> <%=t(:Junior)%> 2024</h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_topx)%data.results_2024_qualif.contestants.junior.size %> - <%= t(:qualif_on_total)%data.results_2024_qualif.stats.count_junior %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped-junior">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2024_qualif.contestants.junior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%=t(:qualif_round)%> <%=t(:Senior)%> 2024</h4>
        <h5 class="uppercase mb16 text-center"><%= t(:qualif_topx)%data.results_2024_qualif.contestants.senior.size %> - <%= t(:qualif_on_total)%data.results_2024_qualif.stats.count_senior %></h5>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped-senior">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% data.results_2024_qualif.contestants.senior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center"><%= t(:qualif_top_schools) %></h4>
        <h5 class="mb16 text-center"><%= t(:qualif_top_schools_count_expl) %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 feature bordered" style="padding-bottom:8px;">
        <ol class="dl-horizontal category-list">
          <% data.results_2024_qualif.schools.nb_contestants.each do |s| %>
          <li><%= s.name %>: <%= s.value %> <%= t(:participants) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern" id="beoi_final">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2><%= t(:final_round).capitalize%> beOI 2024</h2>
        
        <p><%= image_tag "archives/2024/beoi24-final.jpg", class:"cast-shadow", width:740 %></p>
        <p>
          Zij die zich tijdens de eerste ronde het best klasseerden werden uitgenodigd om deel te nemen aan de finale op papier.<br>
          Die werd georganiseerd op zaterdag 23 maart 2024 in aula Q van de VUB.<br>
          316 kandidaten zijn uitgenodigd en 201 zijn opgedaagd: 68 kadetten, 72 junioren en 61 senioren.
        </p>
 
        <p>Het klassement en de volledige resultaten zijn <%= link_to "hieronder", "beoi24.html#results" %> beschikbaar.<br>
        Voor de eerste keer werden medailles uitgereikt.<br>
        Goud voor de de eerste 3, Zilver voor de volgende 3, en Brons voor de 7e tot en met de 10e plaats.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern" id="becp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>beCP 2024</h2>

        <p>De Belgische Programmeerwedstrijd (beCP) heeft zich afgespeeld en is geproclameerd op zaterdag 25 mei 2024 op de HE2B-ESI te Brussel.<br>
        De proclamatie en de overhandiging van de prijzen van beOI vond tijdens dezelfde plechtigheid plaats.</p>

        <p>De officiële resultaten van de beCP vind je <a href="#results_becp">hieronder</a>.<br>
        Ze werden in aanmerking genomen voor de selectie van de Belgische delegaties voor de <%= t(:weoi_full).capitalize %> en de <%= t(:ioi_full).capitalize %>.</p>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern" id="weoi">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

         <h2><%= t(:weoi_full).capitalize %></h2>
         
		   <p>
		     De tweede West-Europese Informatica Olympiade (<%= link_to "weoi 2024", "https://weoi.org/weoi-2024/", target:"_blank" %>) werd georganiseerd van 28 tot 30 juni 2024 in Londen..<br>
		     Ze bracht 69 deelnemers uit 10 landen samen: België, Frankrijk, Ierland, Italië, Luxemburg, Nederland, Portugal, Spanje, Zwitserland en het Verenigd Koninkrijk.<br>
           Er moesten 4 vraagstukken opgelost worden, voor een totaal van 400 punten.<br>
           Gefeliciteerd aan Noé Zech die een bronzen medaille heeft behaald.
         </p>
          
         <p class="mb16 text-center">Hier is de samenstelling en de resultaten van de Belgische delegatie.</p>

         <table class="table table-striped">
            <tbody>
               <tr style="text-align:center; font-weight: bold">
                  <td>Place /69</td>
                  <td style="text-align:left">Naam (jaar)</td>
                  <td><%= t(:column_score) %> /400</td>
                  <td>Résultat</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>29</td>
                  <td style="text-align:left">Noé Zech (4e)</td>
                  <td>203</td>
                  <td>Bronzen medaille</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>36</td>
                  <td style="text-align:left">Thomas De Bruyn (3e)</td>
                  <td>161</td>
                  <td>&nbsp;</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>39</td>
                  <td style="text-align:left">Joaquim Schaeverbeke (4e)</td>
                  <td>150</td>
                  <td>&nbsp;</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>42</td>
                  <td style="text-align:left">Tibor Varga (5e)</td>
                  <td>137</td>
                  <td>&nbsp;</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>49</td>
                  <td style="text-align:left">Akram Zakine (6e)</td>
                  <td>103</td>
                  <td>&nbsp;</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>52</td>
                  <td style="text-align:left">Alban Van Vyve (5e)</td>
                  <td>98</td>
                  <td>&nbsp;</td>
               </tr>
            </tbody>
         </table>
         <p>Onze deelnemers werden begeleid en ondersteund door Petar Vitorac en Thibaut Van Vyve.</p>
      </div>        
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern" id="ejoi">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2><%= t(:ejoi_full).capitalize %></h2>

		  <p>
          De achtste Europese Junior Informatica Olympiade (<%= link_to "eJOI 2024", "https://ejoi2024.gov.md", target:"_blank" %>) werd georganiseerd in Chisinau, Moldavië, van 16 tot 22 augustus 2024.
          Ze bracht 98 kandidaten samen uit 26 landen, voornamelijk uit Oost-Europa.
        </p>
        <p>
          <%= image_tag "archives/2024/ejoi24-team.jpg", class:"img-polaroid center cast-shadow", width:740, title:"Belgische delegatie op de ejoi 2024"  %>
        </p>
        <p>
          Het Belgische team bestond uit Thomas De Bruyn (links) en Joaquim Schaeverbeke (rechts).<br>
          Zij werden begeleid door Petar Vitorac.<br>
          Er moesten 6 problemen worden opgelost, goed voor een totaal van 600 punten.<br>
          De problemen waren bijzonder moeilijk en de scores waren erg laag.<br>
          Gefeliciteerd aan Joaquim voor zijn bronzen medaille en aan Thomas die een eervolle vermelding krijgt.
        </p>
        <table class="table table-striped">
            <tbody>
               <tr style="text-align:center; font-weight: bold">
                  <td>Place /98</td>
                  <td style="text-align:left">Naam (jaar)</td>
                  <td><%= t(:column_score) %> /600</td>
                  <td>Résultat</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>46</td>
                  <td style="text-align:left">Joaquim Schaeverbeke (4e)</td>
                  <td>136</td>
                  <td>Bronzen medaille</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>75</td>
                  <td style="text-align:left">Thomas De Bruyn (3e)</td>
                  <td>48</td>
                  <td>Eervolle vermelding</td>
               </tr>
            </tbody>
         </table>
         <p>De volledige resultaten zijn <%= link_to "hier", "https://ejoi2024.gov.md/results/", target:"_blank" %>.</p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern" id="ioi">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2><%= t(:ioi_full).capitalize %></h2>

        <p><%= image_tag "archives/2024/ioi24-logo.svg", class:"cast-shadow", width:740 %></p>
		  <p>De 36e Internationale Informatica Olympiade (<%= link_to "IOI 2024", "https://www.ioi2024.eg/", target:"_blank" %>) vond plaats in Alexandrië, Egypte, van 1 tot 8 september 2024.</p>
		
        <p><%= image_tag "archives/2024/ioi24-team-with-leaders-2.jpg", class:"img-polaroid center cast-shadow", width:740, title:"Belgische delegatie op de IOI 2024"  %></p>
        
        <p>De Belgische delegatie bestond (achter de vlag, van links naar rechts) uit Joaquim Schaeverbeke (4e), Alban Van Vyve (5e), Noé Zech (4e), Akram Zakine (6e), begeleid door Damien Leroy (links) en Petar Vitorac (rechts).</p>
           
		  <p>
          362 deelnemers uit 91 landen namen deel aan de IOI 2024.<br>
          <b>DE <%= link_to "resultaten van het Belgische team", "https://stats.ioinformatics.org/delegations/BEL/2024", target:"_blank" %> szijn als volgt (uit een totaal van 600 punten) :
         <table class="table table-striped">
            <tbody>
               <tr style="text-align:center; font-weight: bold">
                  <td>Place /362</td>
                  <td style="text-align:left">Naam (jaar)</td>
                  <td><%= t(:column_score) %> /600</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>213</td>
                  <td style="text-align:left">Noé Zech (4e)</td>
                  <td>187,81</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>241</td>
                  <td style="text-align:left">Joaquim Schaeverbeke (4e)</td>
                  <td>172,50</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>263</td>
                  <td style="text-align:left">Alban Van Vyve (5e)</td>
                  <td>147,11</td>
               </tr>
               <tr style="text-align:center; font-weight: bold">
                  <td>288</td>
                  <td style="text-align:left">Akram Zakine (6e)</td>
                  <td>110,85</td>
                </tr>
            </tbody>
         </table>
		   </b>
        </p>

        <p>We hebben geen medailles of eervolle vermeldingen gewonnen op de IOI 2024, maar sommige van onze deelnemers kwamen dichtbij en de ervaring zal onvergetelijk zijn. Bovendien komen drie van onze vier deelnemers opnieuw in aanmerking voor de IOI 2025 in Bolivia.</p>
        
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="altern">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h2>Sponsors en ondersteuning</h2>

        <p>Deze Olympiades zijn tot stand kunnen komen dankzij de ondersteuning die we ontvingen vanwege diverse entiteiten. We zijn hen buitengewoon dankbaar voor hun steun.</p>

        <h3 class="mt32">Avec le soutien de</h3>
        <% link_to "http://www.ond.vlaanderen.be/", target:"_blank" do %>
        <%= image_tag "ext-logos/vlaams-overheid-logo.png", width:350, height:103 %>
        <% end %>
        <% link_to "http://www.federation-wallonie-bruxelles.be", target:"_blank" do %>
        <%= image_tag "ext-logos/cfwb.jpg", width:350, style:"padding:10px;" %>
        <% end %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--- Results beOI final -->
<section class="altern" id="results">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center">Finale beOI 2024 - Kadet/Beloft</h4>
        <%=image_tag "archives/2024/top-10-cadets.jpg", class:"cast-shadow" %>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <p class="mb16 text-center"><%= t(:results_max_score)%results.contestants.cadet_max %></p>
        
        <table class="table table-striped-cadet">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% results.contestants.cadet.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center">Finale beOI 2024 - Junior</h4>
        <%=image_tag "archives/2024/top-10-juniors.jpg", class:"cast-shadow" %>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <p class="mb16 text-center"><%= t(:results_max_score)%results.contestants.junior_max %></p>

        <table class="table table-striped-junior">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% results.contestants.junior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h4 class="uppercase mb16 text-center">Finale beOI 2024 - Senior</h4>
        <%=image_tag "archives/2024/top-10-seniors.jpg", class:"cast-shadow" %>
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <p class="mb16 text-center"><%= t(:results_max_score)%results.contestants.senior_max %></p>

        <table class="table table-striped-senior">
          <tbody>
            <tr><th>#</th><th><%= t(:column_name) %></th><th><%= t(:column_school) %></th><th><%= t(:column_score) %></th></tr>
            <% results.contestants.senior.each do |r| %>
            <tr>
              <td><%= r.position %></td>
              <td nowrap="nowrap"><%= r.name %></td>
              <td><%= r.school %> (<%= t(r.year) %>)</td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--- Results beCP -->
<section class="altern" id="results_becp">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <h4 class="uppercase large"><%= t(:ranking) %> beCP 2024</h4>
      </div>

      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-striped">
          <tbody>
            <tr style="text-align:right; font-weight: bold">
               <td>#</td>
               <td style="text-align:left"><%= t(:column_name) %></td>
               <td style="text-align:left"><%= t(:column_school) %></td>
               <td>FARIO /150</td><td>Q1 /100</td><td>Q2 /100</td><td>Q3 /100</td><td>Q4 /100</td><td>Q5 /100</td><td>Q6 /100</td>
               <td><%= t(:column_score) %> /750</td>
            </tr>
            <% data.results_2024_becp.each do |r| %>
            <tr style="text-align:right">
              <td><%= r.position %></td>
              <td style="text-align:left" nowrap="nowrap"><%= r.name %></td>
              <td style="text-align:left"><%= r.school %> <% if r.year %>(<%= t(r.year) %>)<% end %></td>
              <td><%= r.fario %></td><td><%= r.q1 %></td><td><%= r.q2 %></td><td><%= r.q3 %></td><td><%= r.q4 %></td><td><%= r.q5 %></td><td><%= r.q6 %></td>
              <td><strong><%= r.score %></strong></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!--- Script for graphics -->
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart','bar']});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['<%= t(:Categories) %>', '<%= t(:qualif_chart_nbcontestants) %>'],
    ['<%= t(:Cadet) %>',     804],
    ['<%= t(:Junior) %>',    977],
    ['<%= t(:Senior) %>',    933]
  ]);
  var options = {
    slices: {
      0: { color: '#e31d3b' },
      1: { color: '#f46d43' },
      2: { color: '#fdae61' }
    },
    backgroundColor: "transparent"
  };
  var chart = new google.visualization.PieChart(document.getElementById('chart-cat'));
  chart.draw(data, options);
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['<%= t(:qualif_chart_lang) %>', '<%= t(:qualif_chart_nbcontestants) %>'],
    ['<%= t(:qualif_chart_lang_fr) %>', 1055],
    ['<%= t(:qualif_chart_lang_nl) %>', 1485],
    ['<%= t(:qualif_chart_lang_de) %>',   85],
    ['<%= t(:qualif_chart_lang_en) %>',   89]
  ]);
  var options = {
    slices: {
      0: { color: '#f46d43' },
      1: { color: '#fdae61' },
      2: { color: '#e31d3b' }
    },
    backgroundColor: "transparent"
  };
  var chart = new google.visualization.PieChart(document.getElementById('chart-lang'));
  chart.draw(data, options);
});
google.charts.setOnLoadCallback(function() {
  var data = google.visualization.arrayToDataTable([
    ['<%= t(:gender_field) %>', '<%= t(:qualif_chart_nbcontestants) %>'],
    ['<%= t(:gender_men) %>',     2028],
    ['<%= t(:gender_women) %>',    686],
  ]);
  var options = {
    slices: {
      0: { color: '#fdae61' },
      1: { color: '#f46d43' },
    },
    backgroundColor: "transparent"
  };
  var chart = new google.visualization.PieChart(document.getElementById('chart-gender'));
  chart.draw(data, options);
});
</script>
