---
title: RGPD
trianglify_colors: '["#fff5f0","#fee0d2","#fcbba1","#fc9272","#fb6a4a","#ef3b2c","#cb181d","#a50f15","#67000d"].reverse()'
---
<section class="page-title page-title-4 image-bg">
<%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="uppercase mb0"><%= t(:rgpd_title) %></h3>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="lead mb64"><%= t(:rgpd_expl) %></p>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="col-md-6 col-md-offset-1 content">
    <h3 class="uppercase"><%= t(:rgpd_protection_title) %></h4>
      <p><%= t(:rgpd_protection_expl) %></p>

    <h4 class="uppercase"><%= t(:rgpd_protection_data_title) %></h4>
      <ul>
         <li><%= t(:rgpd_protection_data_1) %></li>
         <li><%= t(:rgpd_protection_data_2) %></li>
         <li><%= t(:rgpd_protection_data_3) %></li>
         <li><%= t(:rgpd_protection_data_4) %></li>
         <li><%= t(:rgpd_protection_data_5) %></li>
         <li><%= t(:rgpd_protection_data_6) %></li>
         <li><%= t(:rgpd_protection_data_7) %></li>
         <li><%= t(:rgpd_protection_data_8) %></li>
      </ul>

    <h4 class="uppercase"><%= t(:rgpd_protection_finality_title) %></h4>
      <ul>
         <li><%= t(:rgpd_protection_finality_1) %></li>
         <li><%= t(:rgpd_protection_finality_2) %></li>
         <li><%= t(:rgpd_protection_finality_3) %></li>
         <li><%= t(:rgpd_protection_finality_4) %></li>
         <li><%= t(:rgpd_protection_finality_5) %></li>
         <li><%= t(:rgpd_protection_finality_6) %></li>
         <li><%= t(:rgpd_protection_finality_7) %></li>
      </ul>
  </div>
</section>

<section class="bg-secondary">
  <div class="col-md-6 col-md-offset-1 content">
    <h3 class="uppercase"><%= t(:rgpd_conservation_title) %></h4>
    <h4 class="uppercase"><%= t(:rgpd_conservation_duration_title) %></h4>
      <p><%= t(:rgpd_conservation_duration_expl) %></p>

    <h4 class="uppercase"><%= t(:rgpd_conservation_privacy_title) %></h4>
      <p><%= t(:rgpd_conservation_privacy_expl_1) %></p>
      <p><%= t(:rgpd_conservation_privacy_expl_2) %></p>
      <p><%= t(:rgpd_conservation_privacy_expl_3) %></p>

      
    <h4 class="uppercase"><p><%= t(:rgpd_conservation_security_title) %></h4>
      <p><%= t(:rgpd_conservation_security_expl) %></p>
  </div>
</section>
